.log {
    font-size: 15px;
    position: absolute;
    padding: 2px;
    left: 0;
    right: 0;
    margin: 0;
}

.avatar {
    position: absolute;
    height: 60%;
    left: 1%;
}

/* .avatar { left: 1%; } */

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

#buttons {
    position: absolute;
    bottom: 10%;
    z-index: 100;
}

.casting {
    background-color: white;
}

/* .log {
    font-size: 15px;
    position: absolute;
    padding: 2px;
    left: 0;
    right: 0;
    margin: 0;
} */

#console {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
}

.elementIcon {
    height: 50px;
    position: absolute;
    left: 5px;
    z-index: 1;
}

#log {
    height: 100vh;
    width: 25vw;
    box-sizing: border-box;
    background-color: green;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    font-size: 80%;
    font-weight: bold;
    font-family: consolas;
    padding-bottom: 20px;
}

.nametag {
    position: absolute;
    left: 45%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nextRound {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass {
    position: absolute;
    bottom: -100%;
    color: white;
    background-color: blue;
    font-weight: bold;
}

.pass:hover {
    cursor: pointer;
}

.player {
    border: 4px inset black;
    border-radius: 100px;
    padding: 10px 50px;
    margin: 50px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px black;
}

.spellbook {

    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 120%;
    left: -10%;
    bottom: -75%;

}

.spellbtn {

    border-radius: 20px;
    position: relative;
    padding: 4px 6px;
    /* font-weight: bold; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    margin: 0px 2px;
    box-sizing: border-box;
    transition: box-shadow 150ms ease;
    font-size: 90%;

}

.spellbtn.noenemy:hover {
    /* border: 1px solid white; */
    box-shadow: 0px 0px 5px white inset;
    cursor: pointer;
}

.spellbtn.noenemy:hover:active {
    box-shadow: 0px 0px 5px black inset;
}

.stats {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.statimg {
    height: 20px;
    width: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 100%;
    box-shadow: 0px 0px 5px black inset;
    border: 1px solid white;
    z-index: 2;
    position: relative;
}

.stunned {
    background-color: blue;
}

#teams {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.team {
    height: 100vh;
    width: 37.5vw;
    position: relative;
    left: 0;
    box-sizing: border-box;
}
#team1 {
    /* border: 4px inset red; */
    background-color: lightcoral;
}

#team2 {
    border: 4px inset blue;
    background-color: lightskyblue;
}







.Fire {
    background-color: red;
    border: 2px inset red;
}
.Ice {
    background-color: lightblue;
    border: 2px inset lightblue;
}
.Dark {
    background-color: Purple;
    border: 2px inset purple;
}
.Steel {
    background-color: grey;
    border: 2px inset grey;
}
.Light {
    background-color: beige;
    border: 2px inset beige;
}
.enemy {
    opacity: .4;
    border: none;
}
.enemy:hover {
    cursor: auto;
}